@model IEnumerable<Clubs.Models.Contract>

@{
    ViewData["Title"] = "Contract Listing: " +ViewBag.clubName;
}

<h2>Contract Listing: @ViewBag.clubName</h2>

<p>
    <a asp-action="Create" asp-route-clubName="@Html.ViewBag.clubName" 
       asp-route-clubID="@Html.ViewBag.clubID" asp-route-clubStyle="@ViewBag.clubStyle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                
            <th>
                @Html.DisplayNameFor(model => model.ContractId)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
               
              
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
